# Base packages:
# Flask
# gunicorn
click==6.7
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.13


asn1crypto==0.24.0
astroid==2.1.0
autopep8==1.4.4
beautifulsoup4==4.4.1
bleach==3.0.2
blinker==1.3
blurhash==1.1.3
boost==0.1
cachetools==3.0.0
certifi==2018.11.29
cffi==1.12.3
chardet==3.0.4
checkbox-support==0.22
cmake==3.13.2.post1
contextlib2==0.5.5
cryptography==2.7
dask==1.0.0
decorator==4.3.0
# eosjs-python==0.1.95
et-xmlfile==1.0.1
feedparser==5.1.3
filterpy==1.4.1
helper==2.4.2
html5lib==0.999
http-ece==1.1.0
httplib2==0.12.0
idna==2.7
imageio==2.4.1
imutils==0.5.2
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
jdcal==1.4
jedi==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
lazy-object-proxy==1.3.1
llvmlite==0.27.0
Mako==1.0.3
Markdown==3.0.1
Mastodon.py==1.4.2
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
motmetrics==1.1.3
Naked==0.1.31
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
notebook==5.7.4
numba==0.38.1
numpy==1.15.4
oauth2client==4.1.3
oauthlib==2.1.0
python-dateutil==2.7.5
python-firebase==1.2
python-utils==2.3.0
reportlab==3.3.0
request==2018.11.20
requests==2.20.1
requests-oauthlib==1.0.0
utils==0.9.0